.thirdSection {
    padding-top: 5%;
    background-color: $bgLightPurple;
    .package {
        margin-top: 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        div {
            width: calc(100%/3 - 180px);
            padding: $packagePadding;
            border-radius: $packageRadius;
            background-color: $white;
            margin-bottom: 5%;
        }
    }
}

@media screen and(max-width:768px) {
    .thirdSection {
        .package {
            div {
                width: calc(100%/1 - 350px);
            }
        }
    }
}

@media screen and(max-width:375px) {
    .thirdSection {
        .package {
            div {
                width: calc(100%/1 - 30px);
            }
        }
    }
}