//typo
$poppins: 'Poppins',
sans-serif;
$dosis: 'Dosis',
sans-serif;
$lobster: 'Lobster',
sans-serif;
$lato: 'Lato',
sans-serif;
$h1: 50px;
$text40:40px;
$text32:32px;
$text31:31px;
$text30:30px;
$text28:28px;
$text25:25px;
$text20:20px;
$text18:18px;
$text16:16px;
$text15:15px;
$text13:13px;
$text12:12px;
$semiBold:500;
//color
$inputcolor:#f6f7fb;
$priceColor:#1000ff;
$deepGrey :#42495b;
$grey: #484848;
$white: white;
$lightGrey: #7a839e;
$bgpurple:#7e76f9;
$bgLightPurple:rgba(126, 118, 249, 0.15);
$btncolor: linear-gradient(to left, #6156f9 10%, #1a129f 50%);
$hrColor:#1a129f;
//padding
$boxPadding:21.4px 20.6px 27.3px 30.3px;
$packagePadding:57px 39.4px 53px 40.1px;
$firstBtnPadding: 10px 39px;
$mousePadding: 29px 26px;
$inputPadding:18px 305px 17px 30px;
//margin
$boxMargin:91.8px 89.4px 0px 0px;
$packageMargin:57px 75px 0 0;
//radius
$packageRadius:26px;
$btnRadius: 25px;